AddType x-mapp-php5 .php .php3 .php4 .htm .html

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} !www.classicetsportautos.fr$
RewriteRule (.*) http://www.classicetsportautos.fr/$1 [R=301,L]